* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.accordion-section {
  position: relative;
}
.accordion-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  min-height: 470px;
  background-image: url("../images/team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .accordion-section::before {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .accordion-section::before {
    width: 48%;
  }
}

.border-radius {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  filter: grayscale(100%);
}
