@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
/* 
font-family: 'Raleway', sans-serif;
*/

/* Default css */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

body {
  font-family: "Raleway", sans-serif;
}

/* custom css */
.padding {
  padding: 20px;
  border-radius: 3px;
}

.margin {
  margin-bottom: 20px;
}

section {
  display: flex;
}

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column;
  }
}

.form-container {
  display: flex;
  flex-basis: 60%;
  padding: 3% 3% 3% 10%;
  background-image: url("../bg img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .form-container {
    padding: 3% 3% 3% 3%;
  }
}

@media screen and (max-width: 500px) {
  .form-container {
    flex-direction: column;
  }
}

.form-container::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgb(50 215 190/ 0.9);
}

.form-container h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 2em;
  color: rgb(155, 230, 220);
  padding: 0px 16px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .form-container h2 {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    margin-bottom: 30px;
  }
}

form {
  font-size: 0;
  position: relative;
}

form > * {
  border: 0;
}

input {
  width: calc(50% - 10px);
}

input:nth-child(odd) {
  margin-right: 10px;
}

input:nth-child(even) {
  margin-left: 10px;
}

input[type="date"] {
  padding: 18px 20px;
}

@media screen and (max-width: 400px) {
  input {
    display: block;
    width: 100%;
  }

  input:nth-child(odd) {
    margin-right: 0px;
  }

  input:nth-child(even) {
    margin-left: 0px;
  }
}

textarea {
  display: block;
  width: 100%;
  resize: vertical;
  height: 100px;
}

button {
  color: rgb(50, 215, 190);
  font-weight: bold;
}

.feature-box {
  flex-basis: 40%;
  background: white;
  padding: 3%;
}

.feature-box h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .feature-box h3 {
    margin-top: 50px;
  }
}

i {
  color: rgb(50, 215, 190);
  padding-right: 20px;
}

a {
  background: rgb(50, 215, 190);
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
